.container-fluid{
    background-color: hsl(17, 76%, 52%);
}

.container-fluid:hover{
    background-color: hsl(17, 91%, 41%);
}
#second_nav .navbar {
    background-color: rgb(233, 197, 129);
    
}

#second_nav .navbar:hover {
    background-color: rgb(235, 184, 91);
    
}



.btn-link{
    color: black;
    font-weight: bold;
}


.btn-link:visited{
    color: black;
    font-weight:bolder;
    text-decoration: none;
}

.btn-link:hover{
    color: black;
   
    
    text-decoration:none;
}
.btn-link:active{
    color: black;
    font-weight:bolder;
    text-decoration: none;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: black;

    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
    
}
.navbar .navbar-brand{
    color: black;
    font-size:smaller;
    font-weight: bold;
}

.navbar .navbar-brand:hover{
    color: black;
}

#second_nav .collapse .navbar-nav .nav-item {
    margin-left: 10%;
}
.container{
    margin-top: 3%;
    width:100%;
    
}

/* marquee */



/* .marquee {
    height: 300px;
    
} */

.marquee a:link {
    
    color: black;
    font-weight: bold;
}
.marquee a:hover {
    
    color: black;
    
}





/* h2.mb-0:link{
    color: white;
} */

/* caurosel */

.carousel-item {
  height: 330px;
}


/* category */

#movie_category{
  margin-top:5%;
}

/* footer */
#footer{
    margin-top: 10%;
    background-color: hsl(17, 76%, 52%);
    text-align: center;
}
#footer .social_media .fa{
    font-size: 30px;
    color: black;
    padding: 10px;
}

#footer .card-title,.card-link{
    color: black;
    
}

#footer .card{
    width: 18rem; 
    background-color: hsl(17, 76%, 52%); 
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 5%;
}

#footer .card .card-body .card-link{
    margin-left: 0rem;
}

.card .card-body .card-link:hover{
    color: black ;
}
.sub_heading{
    background-color:hsl(17, 76%, 52%);  ;
}


.col-lg-7 .row .col-sm .card{
    margin:none;
    padding:none;

}