.container-fluid{
    background-color: hsl(17, 76%, 52%);
}
#second_nav{
    background-color: rgb(233, 197, 129);
    
}
.navbar .navbar-nav .nav-item .nav-link{
    color: black ;
    
    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
}
.navbar .navbar-brand{
    color: black;
    font-size:smaller;
    font-weight: bold;
}

.navbar .navbar-brand:hover{
    color: black;
}

#second_nav .collapse .navbar-nav .nav-item {
    margin-left: 10%;
}

/* #sport_title{
    height:150px;
}*/

#sport_image{
    
    margin-bottom: 3%;
} 
.btn{
    margin: 1rem;
    margin-left: 0rem;
}









/* footer */
#footer{
    margin-top: 10%;
    background-color: hsl(17, 76%, 52%);
    text-align: center;
}
#footer .social_media .fa{
    font-size: 30px;
    color: black;
    padding: 10px;
}

#footer .card-title,.card-link{
    color: black;
    
}

#footer .card{
    width: 18rem; 
    background-color: hsl(17, 76%, 52%); 
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 5%;
}

#footer .card .card-body .card-link{
    margin-left: 0rem;
}

.card .card-body .card-link:hover{
    color: black ;
}
