#title{
    background-color: chocolate;
}



.navbar{
    background-color: chocolate;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: wheat;
    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: rgb(12, 11, 11);
}
.navbar .navbar-brand{
    color: white;
}


.row{
    margin-top: 5%;
}

.container .row div{
    margin-bottom: 3%;
}
.carousel .carousel-inner .carousel-item .img-fluid{
    margin-top: 5%;
    margin-left: 5%;
    max-width: 90%;
   max-height:500px;
}

h2{
    padding:20px;
    text-align: center;
}

.card{
    margin-right: 5px;
}


.inside_nav .row .col-lg-6{
    /* border: 2px solid white; */
    /* padding: 100px; */
    text-align: center;
    
}

.nav_img{
    width: 300px;
    height:300px;
    margin-bottom: 5%;
}