body{
    background-color: #4f8fee;


}
table{
    border:solid white 2px;
  
    /* width:200px; */
    width:100%;
    
    margin-bottom: 10px;
    border-collapse:collapse;
   /* border-radius: 5px; */
   

    }
    td{
        column-width: auto;
    }
   
      
    
    .outer_table{
        width:40%;
        border:1px;
        margin-left: 8%;
        /* margin-top: 12%;  */
        float:left;

        
    }
    tr{
        color:white;

    }

    td{
        height:35px;
        
    }
    a:link{
        color:white;
    }
    a:visited{
        color: white;
    }
    
    
    tr:hover{
        background-color: white;
        color:#4f8fee;
        border: white;
        
    }
   
    tr:hover a {
        color:#4f8fee;
        
    }

    .profile_update{
        border:2px solid white;
        width:400px;
        height:427px;
        float:right;
        border-radius: 10px;
        margin-right: 8%;

    }

    .profile_pic{
        border:2px solid white;
        width:100px;
        height:100px;
        border-radius: 50px;
        margin:10% 40%;
        
    }
    input{
        margin-left: 25%;
        margin-bottom: 10px;
        background-color:#4f8fee;
        
        border-radius: 20px;
        width:40%;
        padding: 5px 20px;
        /* display: inline-block; */
        border: 2px solid white;
        color:white;
        
    }
    /* ::-ms-input-placeholder { 
        color:white;
       } */
       ::placeholder{
           color: white;
       }
    button{
        margin-left: 35%;
        margin-bottom: 10px;
        background-color:#4f8fee;
        border-radius: 20px;
        padding: 5px 20px;
        border: 2px solid white;
        color:white;
        width:30%;

    }
    button:hover{
        background-color: white;
        color:#4f8fee ;
    }
    
    

    .whole_border{
        width:85%;
        height:85%;
        border: 1px;
        margin:5% 

    }
    

