.navbar{
    background-color: white;
    width: 100%;
    
}
.navbar .navbar-nav .nav-item .nav-link{
    color: rgb(136, 128, 128);
    
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
}
.navbar .navbar-brand{
    color: black;
}

.navbar .navbar-brand:hover{
    color: black;
}


#trail {
    background-color: rgb(214, 117, 38);
    color:white;
}
#trail:hover {
    background-color: rgb(168, 82, 11);
}

.navbar-nav .nav-item{
    margin-left: 4%;
}

#search{
    margin-left: 60%;

}
#login:hover{
    color: rgb(20, 87, 175);
}

.container-fluid{
    margin-top: 15%;
    background-color: rgb(111, 81, 182);
    text-align: center;
}
.container-fluid .social_media .fa{
    font-size: 30px;
    color: white;
    padding: 10px;
}

.card-title,.card-link{
    color: white;
    
}

.card{
    width: 18rem; 
    background-color: rgb(111, 81, 182); 
    border: none;
    text-align: left;
    display: inline-block;
}

.card .card-body .card-link{
    margin-left: 0rem;
}

.card .card-body .card-link:hover{
    color: rgb(168, 82, 11) ;
}
